<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:configChanges="orientation"
        android:screenOrientation="portrait"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity android:name=".activities.MainActivity" android:windowSoftInputMode="adjustNothing" />

        <activity android:name=".activities.Player" android:theme="@style/PlayerTheme" android:noHistory="true"/>

        <activity android:name=".activities.Splash" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.Welcome" android:theme="@style/Theme.Intro" />
        <activity android:name=".activities.About" />
        <activity android:name=".activities.LocalPlaylist" />
        <activity android:name=".activities.AlbumPlaylist" />
        <activity android:name=".activities.Settings" android:theme="@style/SettingsTheme"
            android:parentActivityName=".activities.MainActivity" />

        <service
            android:name="io.github.uditkarode.able.services.MusicService"
            android:description="@string/app_name"
            android:enabled="true" />

        <service android:name=".services.DownloadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
    </application>

</manifest>